<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center" style="background-color: rgba(50, 115, 220, 0.3)">

<header class="alert alert-success">About this Page</header>

<h4> This page is all about providing the user with a more Secure Password,<br>
	which would keep you away from getting Hacked...
</h4>
<br>
<br>
<caption>Enjoy Password Generator !!</caption>
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-warning">Home</a>
<br>
<br>
</div>